<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.statefive.timeclockj.android"
          android:versionCode="5"
          android:versionName="1.1.1 (revision 132)"
          android:debuggable="false">
  <uses-sdk android:minSdkVersion="3"/>
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
  </uses-permission>
  <uses-permission
    android:name="android.permission.INTERNET" >
  </uses-permission>
  <application android:label="@string/app_name"
               android:icon="@drawable/ic_launcher">
<!--               android:debuggable="true"-->

    <!--receiver android:name=".TimeClockJWidgetProvider" >
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider"
            android:resource="@xml/timeclockjwidget_info" />
    </receiver-->

    <activity android:name=".TimeclockjTabWidget"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".ClockActivity"
              android:label="@string/app_name"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
    </activity>

    <activity android:name=".ReportActivity"
              android:label="@string/app_name"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
    </activity>

    <activity android:name=".InfoActivity"
              android:label="@string/app_name"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
    </activity>
    <activity android:name=".DropboxActivity"
              android:label="@string/app_name"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
    </activity>
    <activity android:name=".DropboxAuthActivity"
              android:label="@string/app_name"
              android:theme="@android:style/Theme.NoDisplay">
    </activity>
    <activity android:name=".DropboxPullActivity"
              android:label="@string/app_name"
              android:theme="@android:style/Theme.NoDisplay">
    </activity>
    <activity android:name=".DropboxPushActivity"
              android:label="@string/app_name"
              android:theme="@android:style/Theme.NoDisplay">
    </activity>
    
    <activity
      android:name="com.dropbox.client2.android.AuthActivity"
      android:launchMode="singleTask"
      android:configChanges="orientation|keyboard">
      <intent-filter>
        <!-- Change this to be db- followed by your app key -->
        <data android:scheme="db-8hl7plwl6drcs5v" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity android:name=".HelpActivity"
              android:label="@string/app_name">
    </activity>
    <activity android:name=".ViewWebContentActivity"
              android:label="@string/app_name">
    </activity>
    <activity android:name=".TimeClockJConfigActivity"
              android:label="@string/app_name">
    </activity>
  </application>
</manifest> 
